<html>
<head>
	<title>Google Books Search</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href ="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Book Search</a>
    </div>
  </nav>

<%= yield %>

</body>
</html>