
    <div class="row">
        <div class="input-field col s6">  
            
            <p> Submit your opinion about the 2109 elections! Hi voter, 
            we're collecting data on what the general public think of the two major 
            parties running in the 2109 elections.
            </p>

            <form action="/" method="POST">
                <input name="name" placeholder="Name: "/>
                <input name="comment" placeholder="Comment: "/>
                <button class="waves-effect waves-light btn"><i class="material-icons left">grade</i>Submit</button>
            </form>

        </div>
    </div>
