<html>
<head>
	<title>Opinion Collector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href ="../css/main.css">
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Opinion Collector</a>
    </div>
  </nav>
  <header>
  </header>

  <%= yield %>

    


<footer>
</footer>
</body>
</html>