body, html{
	height: 100%;
	margin: 0;
}
#hero{
	background-image: url("https://www.deere.com/assets/images/region-4/products/tractors/tractor-group/row-crop-tractor-group-r4b009242-1366.jpg");
	background-position: center;
    background-repeat: no-repeat;
    height: 50%
}
#hero-text{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    font-size: 50px;
}

.text-center{
	text-align: center;
	list-style-type: none;
}

form{
	text-align: center;
}