<html>
<head>
	<title>Ling's Cars</title>
    <link rel = "stylesheet" type = "text/css" href ="../css/main.css">
</head>
<body>
 <nav>
  </nav>
  <header>
  </header>
  <section>
    <img src = "../images/lingscars-logo.png"><p>I am Ling! You can trust me!</p>
  </section>
  <section>
    <p>
        Hello!
        I am Ling!
        I'm the UK's hardest working car leasing provider, 
        and I run LINGsCARS, the UK's favourite car leasing website.
        Don't be deceived... I may be a scruffy Chinese girl, but 
        I have more happy new-car customers and supply more new cars than 
        many of the anonymous (and some big-name!) leasing companies out there, combined.
    </p>
  </section>
  <%= yield %>

    


<footer>
</footer>
</body>
</html>