<form action="/info" method="post">
  <input type="text" name="username" placeholder="Enter your name" value="<%= @name %>">
  <input type="password" name="password" placeholder="Enter your password" value="<%= @password %>">

  <input type="submit" value="Go">
</form>