<html>
<head>
	<title>Exercise</title>
    <link rel = "stylesheet" type = "text/css" href ="main.css">
    <script type="text/javascript" src="main.js"></script>
</head>
<body>

<nav>
    <a href="/" >Home</a>
    <a href="/double_time" >Double Time</a>
    <a href="/info" >Info</a>
</nav>

<%= yield %>

</body>
</html>