/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

body{
	background-color: #303030 ;
}

header{
	background-color: #EB5757;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

h3{
	font-family: 'Open Sans', sans-serif;
}

p{
	font-family: 'Roboto', sans-serif;
}